<form action="/search" method="get" class="search-header search" role="search">
  {% if section.settings.icon_search != blank%}
  <input class="search-header__input search__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.placeholder' | t }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
  
  <button class="search-header__submit search__submit btn--link" type="submit">
    <img class="icon" src="{{ section.settings.icon_search | img_url: '36x' }}" alt="" style="width: {{section.settings.icon_size}}px; height: {{section.settings.icon_size}}px; margin-left: 5px;"/>
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
  {% endif %}
</form>
